@import '_sass/colors';

:root {
    --font: 'Yanone Kaffeesatz', 'Varela Round', sans-serif;
    --topbar-height: 3.6rem;
    --article-font-size: 1.7rem;
}

// :root {
//     --box-shadow-color: #1f1f1f;
//     --bgcolor: #1f1f1f;
//     --txtcolor: #bbbbbb;
//     --contrast-color: rgb(0, 0, 0);
//     --contrast-neg-color: rgb(255, 255, 255);
//     --font: 'Yanone Kaffeesatz', 'Varela Round', sans-serif;
//     --topbar-height: 3.6rem;
//     --article-font-size: 1.7rem;
// }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    background: $bgcolor;
    font-family: var(--font);
    color: var(--txtcolor);
    padding: 3rem 1rem 6rem 1rem;
    margin: 0;
}

body > article {
    max-width: 100%;
    width: 60rem;
    margin: 0 auto;
    font-size: var(--article-font-size);
    text-align: justify;
}

@import '_sass/posts';
@import '_sass/scrollbar';
@import '_sass/topbar';
@import '_sass/mobilemenu';

@media only screen and (max-width: 765px) {
    #topbar {
        display: none !important;
    }

    #topbar-side {
        display: none !important;
    }

    #mobile-topbar {
        display: block !important;
    }

    body {
        padding-top: calc((var(--topbar-height) / 2)) !important;
    }

    :root {
        --article-font-size: calc(4.895vw);
    }
}

@media only screen and (max-width: 425px) {
    :root {
        --article-font-size: 1.3rem;
    }
}