$box-shadow-color: #bababa;
// $box-shadow-color: #141414;
$bgcolor: #f1f1f1;
// $bgcolor: #363636;
$txtcolor: #292929;
// $txtcolor: #c4c4c4;
$contrast-color: #000;
$contrast-neg-color: #fff;
$topbar-txtcolor: #FF7B0F;
$topbar-bgcolor: #292929;
$topbar-hovcolor: #363636;