@import '_sass/colors';

#mobile-topbar {
    display: none;
    font-size: calc(1.7rem * 0.8);
    line-height: calc(var(--topbar-height) * 0.8);
    user-select: none;
}

#mobile-topbar > svg {
    height: 1.5rem;
}

#mobile-menu {
    display: none;
    position: fixed;
    top: calc(var(--topbar-height) * 0.8 - 1px);
    left: 0;
    background: $topbar-bgcolor;
    min-width: 35vw;
    z-index: 5;
}

#mobile-topbar .lowered-icon {
    top: 0.25rem;
}

#menu-icon-bg {
    position: fixed;
    height: calc(var(--topbar-height) * 0.8);
    width: calc(var(--topbar-height) * 0.8);
    top: 0;
    left: 0;
    z-index: 3;
}

#menu-toggle:checked ~ #menu-icon-bg {
    // box-shadow: 0 0 1rem -0.3rem darken($box-shadow-color, 20%);
}

#menu-icon {
    position: fixed;
    // height: 1.5rem;
    // width: 1.5rem;
    top: 0;
    left: 0;
    padding: calc(((var(--topbar-height) * 0.8) - 1.5rem) / 2);
    line-height: initial;
    font-size: initial;
    cursor: pointer;
    z-index: 4;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

#menu-icon img {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    // pointer-events: none;
    cursor: pointer;
}

#menu-toggle {
    position: fixed;
    top: -99999px;
    left: -99999px;
}

#menu-toggle:checked ~ #mobile-menu {
    display: block;
}

#menu-toggle:checked ~ #menu-icon {
    padding-right: 100vw;
    padding-bottom: 100vh;
}

#mobile-menu .menulink {
    display: block;
    // width: 100%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#mobile-menu .menubtn {
    display: block;
    width: 100%;
}