@import '_sass/colors';

p > img, img.post-image {
    display: block;
    max-height: 60vh;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0.6rem 2.3rem -0.5rem darken($box-shadow-color, 30%);
    border-radius: 1vh;
}

p > img {
}

.homepage-image {
    margin-top: 1rem !important;
    border: solid 1px #999;
}

h1 {
    text-align: center;
    font-size: calc(var(--article-font-size) * 1.4);
}

h2 {
    font-size: calc(var(--article-font-size) * 1.2);
}

h3 {
    font-size: calc(var(--article-font-size) * 1);
}

h1, h2, h3 {
    margin-bottom: 0.1rem;
}

p, ul {
    margin-top: 0;
}

.inline-icon {
    height: 0.77em;
    margin: 0 0.15em;
}

ul {
    -webkit-padding-start: 0.7em;
}

.center {
    text-align: center;
}

.card-list {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    flex-wrap: wrap;
}

.card-link {
    position: relative;
    top: 0;

    display: inline-block;
    text-decoration: none;
    color: $txtcolor;
    background: lighten($bgcolor, 10%);
    border-radius: 0.4em;

    box-shadow: 0 0.6rem 2rem -0.5rem $box-shadow-color;

    padding: 0.6em;
    box-sizing: border-box;
    width: calc(50% - 2 * 0.3em);
    margin: 0.3em;

    transition: top 0.2s, box-shadow 0.2s;
}

.card-link-header {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    font-size: calc(var(--article-font-size) * 1.2);
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.card-link:hover {
    top: -0.3em;
    box-shadow: 0 0.6rem 2.3rem -0.5rem darken($box-shadow-color, 30%);
}

@media only screen and (max-width: 765px) {
    .card-link {
        width: calc(100% - 2 * 0.3em) !important;
    }
}