---
permalink: /he/
layout: default
---

h1 TODO: Add hebrew here

h1 What is SparkVial
p
	| A project to create a board / device (Like an Arduino) that
	| can connect to peripherals (eg. sensors) via a standard connector.
	| The boards will have a pre-flashed ROM (Flashing your own ROM is
	| possible) that interfaces with software to make collecting data
	| and making simple programs easy.

h1 Goals
ul
	li Provide cheap (but high-quality) boards and peripherals for tinkerers and students.

	li Provide user-friendly, high-quality, cross-platform software to interface with them.

	li Encourage open learning by providing all of the above as 
		a(href="https://www.fsf.org/about/what-is-free-software") 
			img.inline-icon(src="/res/open-source.svg")
			| FOSS (Free Open Source Software)
		|  /
		a(href="https://en.wikipedia.org/wiki/Open-source_hardware")
			img.inline-icon(src="/res/Open-source-hardware-logo.svg")
			| OSHW (Open Source Hardware)

h1 The boards
p
	| The main line of boards is named after cats, because "market research" shows they
	| are cute.

.card-list
	a.card-link(href="/boards/catears/")
		h2 CatEars
		span
			| The CatEars turn any steady supply of 3.3v and a UART line into a working
			| SparkVial board.

	a.card-link(href="/404.html")
		h2 TODO
		span
			| Lorem ipsum dolor sit amet consectetur adipisicing elit.