---
permalink: /
layout: default
---

h1 What is SparkVial
p
	| A project to create a series of sensor and actuator devices that
	| connect via USB/UART/LVDS to either a smartphone, a PC or a
	| dedicated logging device, along with great software to interface with them.
p
	| The main goal is to inspire students to pursue science and technology
	| fields by providing intuitive and interactive visualizations of the
	| world around them.

h1 Goals
ul
	li
		| Provide 
		em robust
		| , 
		em high-quality
		| , and 
		em affordable 
		| hardware which is 
		a(href="https://en.wikipedia.org/wiki/Open-source_hardware") OSHW
		| .

	li
		| Provide 
		em user-friendly
		| , 
		em high-quality
		| , 
		em cross-platform 
		| software to interface with them which is 
		a(href="https://www.fsf.org/about/what-is-free-software") FOSS
		| .

	li
		| Provide pre-made teaching materials and experiment booklets (for free).

br
br

.center
	a.card-link(href="/blog/introduction/")
		h2 Read more
		span
			| This blog post explains more