---
permalink: /products/
layout: default
---
h1 Products

.card-list
	a.card-link(href="/boards/catears/")
		h2 CatEars
		span
			| The CatEars turn any steady supply of 3.3v and a UART line into a working
			| SparkVial board.

	a.card-link(href="/404.html")
		h2 TODO
		span
			| Lorem ipsum dolor sit amet consectetur adipisicing elit.