doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		meta(name="theme-color", content="#292929")
		meta(name="google-site-verification", content="Bi6J8FrwHTNO0R0jqKlnC1NJBZJ_A0CfyE8M2BS-eEg")
		meta(name="description", content="SparkVial aims to create Plug and play sensors which allow students and other curious minds to study the world without forking over huge sums of money or being tied down to a proprietary software suite.")
		title SparkVial: Accessible Science
		link(href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700|Varela+Round&subset=hebrew", rel="stylesheet")
		link(rel="stylesheet", type="text/css", href="/main.css")
		link(rel="icon", sizes="512x512", href="/favicon.png")
		//- link(rel="prerender" href="/")
		//- link(rel="prerender" href="/download/")
		//- link(rel="prerender" href="/products/")
		//- link(rel="prerender" href="/contact/")
	body
		| {% include header.html %}
		article {{ content }}